
@charset "utf-8";

/* Input box cursor color*/
input[type="password"],
input[type="number"],
input[type="text"],
input[type="search"],
input[type="tel"]{caret-color: #ef0775;-webkit-user-select:auto;user-select:auto;}

body {
    background-color: #0C0C14;
    color: #f7f7f7;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 0 70px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

section.gnb {
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
}

.gnb>.gnb_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.gnb_wrapper>ul {
    display: flex;
    flex-direction: row;
}

.gnb_wrapper>ul>li {
    width: 70px;
    text-align: center;
    margin: 0 12px;
    font-family: 'Noto Sans CJK KR Bold';
}

.gnb_wrapper>img {
    width: 70px;
}

section.banner {
    height: 50vh;
}

.banner img{
    height: 100%;
}

.banner .img_wrapper {
    display: flex;
    justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
    width: 42px;
    height: 42px;
    display: block;
    background: url(/public/img/icn-arw-right.png) 50% 50% / 100% auto no-repeat;
    top: initial;
    bottom: 14%;
}

.swiper-button-prev {
    left: 70px;
    transform: rotate(180deg);
}

.swiper-button-next {
    right: 70px;
}

.swiper-pagination-fraction {
    bottom: 14%;
    font-family: "Noto Sans CJK KR Bold";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
}

.swiper-pagination-current {
    color: var(--purple);
}

section.content__a {
    margin-top: 3vh;
}

section.content__a div.content_wrapper:nth-of-type(1)>.title {color: #FFD15A;}
section.content__a div.content_wrapper:nth-of-type(2)>.title {color: #9FFF77;}
section.content__a div.content_wrapper:nth-of-type(3)>.title {color: var(--purple);}
section.content__c div.content_wrapper:nth-of-type(1)>.title {color: #87A1FF;}
section.content__d div.content_wrapper:nth-of-type(1)>.title {color: #BD42FF;}

.content_wrapper {
    margin-bottom: 80px;
}

section.content__a div.content_wrapper:nth-of-type(3) {
    margin-bottom: 0;
}

.content_wrapper>.title {
    font-size: 39px;
}

.content_wrapper>.desc {
    font-size: 20px;
    opacity: 0.8;
    margin-top: 20px;
    line-height: 33px;
}

.content_wrapper>.desc>p {
    display: flex;
    flex-direction: row;
}

.content_wrapper>.desc>p>span:nth-of-type(1) {
    margin-right: 8px;
}

section.content__b {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

section.content__b .case {
    width: 24vw;
    height: 9vw;
    border-radius: 11px;
    border: 1px solid rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202028;
}

section.content__b .case>.btn_case {
    font-size: 20px;
}

section.content__b .case>.hello {
    position: absolute;
    top: -2vw;
    width: 7vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 2.3vw;
    border: 2px solid var(--purple);
    color: var(--purple);
    font-size: 1.5vw;
    display: none;
    
}

section.content__b .case:hover,
section.content__b .case.active {
    border: 2px solid var(--purple);
    background-color: var(--purple);
}

section.content__b .case:hover>.btn_case,
section.content__b .case.active>.btn_case {
    color: #000000;
}

section.content__b .case:hover>.hello,
section.content__b .case.active>.hello {
    display: flex;
}

section.content__b img {
    width: 100%;
}

section.content__b .case.empty {
    display: none;
    pointer-events: none;
    cursor: none;
}

section.content__c {
    margin-top: 60px;
}

section.content__c>.module_line {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.module_line>.subtitle {
    width: 180px;
    font-size: 22px;
    font-weight: bold;
    flex-shrink: 0;
}

.module_line>.description {
    font-size: 18px;
    opacity: 0.8;
    color: #ffffff;
    line-height: 35px;
}

.module_line>.description>p {
    display: flex;
    font-size: 19px;
    position: relative;
}

.module_line>.description>p>span:nth-of-type(1){
    margin-right: 8px;
}

#content_subject.module_line>.description>p:nth-of-type(1)>span:nth-of-type(1){
    margin: 0;
}

#content_form.module_line>.description>p>span>span{
    font-size: 16px;
    position: relative;
    top: 0px;
    padding-top: 2px;
    color: #A8A8A8;
}

#content_form.module_line>.description>p>span>span::before {
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: #979797;
    left: 12px;
    top: 3px;
}

#content_guide .description > p:nth-last-of-type(1) {
    margin-left: 25px;
}

#content_guide {
    margin-top: calc(90px - 30px);
}

#content_standard .description {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

#content_standard .description > .text_wrapper {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
} 

.module_line>.description>.text_wrapper {
    margin-bottom: 10px;
}

.module_line>.description>.text_wrapper>p {
    display: flex;
    font-size: 19px;
}

.module_line>.description>.text_wrapper>p>span:nth-of-type(1){
    margin-right: 8px;
}

.module_line>.description>.text_wrapper>p:nth-of-type(2) {
    display: block;
    font-size: 18px;
    line-height: 35px;
    color: #A8A8A8;
}

#content_standard>.description>.text_wrapper>p:nth-of-type(2) {
    padding-left: 20px;
}

.module_line.underline {
    border-top: 2px solid #575757;
    padding-top: 40px;
}

section.content__c .detail_wrapper {
    display: flex;
    flex-direction: row;
}

section.content__c .detail {
    margin-top: 40px;
    width: 50%;
}

.content__c .detail>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
}

.content__c .detail>div>span:nth-of-type(1){
    font-size: 24px;
    color: #87A1FF;
}

.content__c .detail>div>span:nth-of-type(2) {
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    background-color: #575757;
    margin: 0 15px;
}

.content__c .detail>div>span:nth-of-type(3){
    font-size: 24px;
}

.content__c img {
    display: none;
    width: 50%;
    margin-top: 34px;
    height: 100%;
}

#content_title .subtitle {
    font-family: 'Noto Sans CJK KR Bold';
    font-size: 25px;
    color: var(--purple);
}

#content_title .description {
    color: var(--purple);
}

#content_title .description > p {
    font-size: 22px;
}

#content_subject .description > p:nth-of-type(1) {
    margin-bottom: 10px;
}

#content_subject .text_wrapper {
    margin-left: 15px;
}

#content_subject .description > p:not(:nth-of-type(1)) {
    margin-left: 15px;
}

#content_notice .description > p:nth-last-of-type(1) { 
    font-size: 18px;
    color: var(--purple);
    line-height: 30px;
    margin-top: 18px;
}

section.content__c .prize_desc {
    max-width: 635px;
}

section.content__d .process {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

section.content__d .process::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 0.5px;
    background-color: #9328FA;
    top: 2.3vw;
    z-index: -1;
}

section.content__d .process>.step {
    display: flex;
    flex-direction: column;
    flex-shrink: 10;
    align-items: center;
}

section.content__d .process>.step:nth-of-type(odd) {
    width: 10vw;
}

section.content__d .process>.step>.date {
    height: 5.4vw;
    width: 100%;
    background-image: url(/public/img/img_word_l.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.content__d .process>.step>.date.date_final {
    background-image: url(/public/img/img_word_end.png);
}

section.content__d .process>.step>.date>span {
    margin-bottom: 8px;
    font-size: 1.6vw;
    width: max-content;
    font-family: 'Noto Sans CJK KR Regular';
}

section.content__d .process>.step>.text{
    margin-top: 20px;
    text-align: center;
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 20px;
}

section.content__d .process .step:nth-of-type(5) .text {
    width: 113px;
    word-break: keep-all;
}

section.content__d .process .step:nth-of-type(9) .text {
    width: 60px;
    word-break: keep-all;
}

section.content__d .process>.step>.date_final + .text {
    color:var(--purple);
}

section.apply {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    padding-bottom: 80px;
}

section.apply .btn__apply {
    width: 282px;
    height: 86px;
    border-radius: 10px;
    background-color: rgba(203,123,255, 0.19);
    border: 2px solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
}

section.apply .btn__apply:hover {
    border: 2px solid #6C3CBB;
    background-color: #6C3CBB;
    color: white;
}

section.banner.banner_mobile {
    display: none;
}

.btn-interview {
    /* width: 100px; */
    width: 13vw;
    /* height: 36px; */
    height: 4vw;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: url(/public/img/btn-interview-nor.png) 50% 50% / 100% auto no-repeat;
    bottom: 5vw;
}

.type1 .btn-interview {
    right: 66vw;
}

.type2 .btn-interview {
    left: 64vw;
}


.type3 .btn-interview {
    left: 66vw;
}

section.content__e {
    padding-top: 50px;
}


section.content__e div.content_wrapper:nth-of-type(1)>.title {
    color: #FFD15A;
    width: max-content;
    position: relative;
}

section.content__e div.content_wrapper:nth-of-type(1)>.title::before {
    content: '';
    position:absolute;
    width: 74px;
    height: 50px;
    background-image: url('/public/img/img_word_ballon_qna_new.svg');
    background-size: 100% 100%;
    right: -20px;
    transform: translate(50%, -100%);

}

section.content__e .not_flex {
    display: block;
}

.qna a {
    color: #9FFF77;
}

.wrapper_qna_case {
    padding-top: 30px;
    margin-left: 20px;
}

.case_qna {
    margin-top: 64px;
}

.case_qna>.question {
    display: flex;
    font-size: 20px;
}

.case_qna>.question>span:nth-of-type(2){
    margin-left: 8px;
}

.case_qna>.answer {
    margin-left: 43px;
    margin-top: 16px;
    opacity: 0.7;
}

a {
    text-decoration: underline;
    color: var(--purple);
}

.no_underline {
    text-decoration: none;
}

.email_address {
    color: #9FFF77;
}

/* banner test */
.total_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article {
    max-width: 1080px;
    width: 100vw;
}

section.banner {
    width: 100vw;
    height: 50vw;
    box-sizing: content-box;
    padding-bottom: 47px;
}

.banner .img_wrapper {
    width: 100vw;
}

.banner img {
    width: 100vw;
}

section.content__b {
    margin-top: 60px;
}

section.banner.banner_mobile {
    padding: 0;
}

section.banner_mobile .mobile_message {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    background-color: rgba(156,144,189,0.15);
    border-radius: 6px;
    margin: 0 18px;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255,255,255,0.3);
}

.gnb_wrapper>ul>li:hover {
    color: var(--pink);
    text-decoration: underline;
}

section.banner .img_wrapper a {
    color:#ffffff;
}

section.banner .img_wrapper a>span {
    font-size: 2vw;
    width: max-content;
    padding-top: 4px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.85;
    font-weight: bold;
}

section.banner .img_wrapper a>span:hover{
    color: #00ffff;
    text-decoration: underline;
}

.btn-interview {
    width: 16vw;
    background: none;
}

section.apply>img {
    margin-top: 130px;
    width: 98px;
}

section.content__d .process>.step.no_shrink>.date{
    width: 100%;
}

section.content__d .process>.step.no_shrink {
    width: 11vw;
    flex-shrink: 0;
}

#content_form.module_line>.description>p>span:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(55px * 2);
}

.module_line#content_detailguide>.description>p>span:nth-of-type(1) {
    margin-right: 0;
}

.content__c__a .module_line>.subtitle {
    width: unset;
    font-size: 20px;
}

.content__c__a .module_line>.description {
    font-size: 17px;
}

section.content__c.content__c__a {
    padding-bottom: 150px;
    opacity: 0.7;
    margin-top: 10px;
}

.content__c__a .module_line>.awards_notice_desc {
    font-size: 17px;
    line-height: 34px;
    margin-top: 5px;
}

.content__c__a .module_line>.awards_notice_desc > p {
    font-size: 17px;
}

section.content__c.content__c__a>.module_line {
    flex-direction: column;
}

#content_form.module_line>.description>p>span span.divider {
    position: absolute;
    height: 11px;
    padding: 0;
    width: 1px;
    display: block;
    background-color: #979797;
    top: 50%;
    transform: translateY(-50%);
    left: -55px;
    opacity: 0.6;
}

.total_wrapper_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5,5,5,0.85);
    z-index: 100;
}

.total_wrapper_popup>img {
    position: absolute;
    width: 427px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total_wrapper_popup .btn_winner_chk {
    position: absolute;
    width: 300px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 65px);
}

.winner_page section {
    width:unset;
}

.winner_page .text_desc{
    padding-top: 170px;
    font-size: 18px;
    opacity: 0.8;
}

.winner_page section.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 73px;
}

.winner_page section.list .wrapper_congrat {
    position: relative;
    height: 70px;
}


.winner_page .wrapper_congrat>img {
    width: 490px;
}

.winner_page section.list .wrapper_congrat>p{
    position: absolute;
    top: 20px;
    left: 37px;
    font-size: 35px;

}

.winner_page .module_list {
    margin-top: 50px;
}

.winner_page .module_list>div {
    margin-top: 15px;
    /* max-width: 340px; */
    width: 910px;
}

.winner_page .module_list>img {
    width: 295px;
}

.winner_page .module_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    margin-top: 50px;
    padding: 0 20px;
}

.winner_page .module_list .set_prize {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.winner_page .module_list .set_prize {
    flex-shrink: 0;
    opacity: 0.9;
}

.winner_page .module_list .set_prize>.winner,
.winner_page .module_list .set_prize>.title {
    font-weight: bold;
    flex-shrink: 0;
}

.winner_page .module_list .set_prize>.title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    min-width: 520px;
}

.winner_page .module_list .set_prize>.space {
    display: inline-block;
    width: 38px;
    height: 1px;
    background-color: #979779;
    margin: 0 8px;
    flex-shrink: 10;

}

.winner_page .module_list .set_prize>.rank {
    display: inline-block;
    width: 84px;
    text-align: right;
}

.winner_page .module_list .set_prize.last>.rank,
.winner_page .module_list .set_prize.last>.space {
    opacity: 0;
}

.winner_page .footer>img{
    width: 96px;
    margin-top: 164px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1080px) {
    section.banner .img_wrapper a>span {
        font-size: 21px;
        height: 77px;
        bottom: 250px;
    }

    .type1 .btn-interview {
        right: 730px;
    }

    .type2 .btn-interview {
        left: 690px;
    }

    .type3 .btn-interview {
        left: 712px;
    }

    .btn-interview {
        width: 160px;
        height: 44px;
        bottom: 54px;
    }
    
    section.banner {
        width: 100%;
        height: 50%;
    }
    
    .banner .img_wrapper {
        width: 100%;
    }
    
    .banner img {
        width: 100%;
    
    }

    section.content__b .case {
        width: 208px;
        height: 86px;
    }

    section.content__b .case>.hello {
        top: -22px;
        width: 76px;
        height: 42px;
        border-radius: 25px;
        font-size: 16px;
    }

    section.content__d .process>.step>.date{
        height: 55px;
        width: 111px;
    }

    section.content__d .process>.step>.date>span {
        font-size: 18px;
    }

    section.content__d .process::before {
        top: 25px;
    }

    section.content__d .process>.step:nth-of-type(odd) {
        width: 111px;
    }
    
    section.content__d .process>.step.no_shrink {
        width: 123px;
    }
}


@media screen and (max-width: 970px) { 
    .content__c img {
        width: 292px;
        height: 184px;
        position: absolute;
        top: -100px;
        right: 0;
        margin-top: 0;
    }

    section.content__c .detail {
        width: 100%;
    }

    section.content__b .case>.btn_case {
        font-size: 2vw;
    }

    section.content__b .case:hover>.btn_case, section.content__b .case.active>.btn_case {
        font-size: 2.3vw;
    }

    .winner_page .module_list>div {
        width: auto;
    }

    .winner_page .module_list .set_prize>.title {
        display: none;
    }

    section.content__d .process>.step>.text {
        font-size: 1.6vw;
    }

}

@media screen and (max-width: 850px) {
    section.content__d .process .step:nth-of-type(5) .text {
        width: 80px;
    }
}

@media screen and (max-width: 800px){
    section.content__d .process::before {
        width: 90%;
    }

    /* section.content__d .process>.step.no_shrink {
        width: 100px;
    } */
}

@media screen and (max-width: 650px) { 
    section {
        padding: 0 20px;
    }

    section.content__a {
        margin-top: 48px;
    }

    section.banner.swiper-container,
    section.banner.swiper-container * {
        display: none;
        height: 0;
        width: 0 !important;
    }

    section.banner.banner_mobile {
        display: block;
        height: unset;
    }

    .content_wrapper>.title {
        font-size: 21px;
        font-weight: normal;
    }

    .content_wrapper>.desc {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .content_wrapper {
        margin-bottom: 56px;
    }

    .content__c .detail>div {
        margin: 14px 14px;
    }

    section.content__c>.module_line {
        flex-direction: column;
    }

    .module_line>.subtitle {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .module_line>.description {
        font-size: 13px;
        line-height: 22px;
    }

    .module_line>.description>.text_wrapper>p:nth-of-type(1) {
        font-size: 13px;
        line-height: 22px;
    }

    .module_line>.description>.text_wrapper>p:nth-of-type(2) {
        padding-top: 0;
        font-size: 11px;
        line-height: 16px;
        margin-left: 18px;
        margin-top: 5px;
    }

    .module_line>.description>.text_wrapper {
        margin-bottom: 5px;
        margin-left: 0px;
    }

    #content_subject .text_wrapper {
        margin-left: 0px;
    }

    .content__c .detail>div>span:nth-of-type(1),
    .content__c .detail>div>span:nth-of-type(3){
        font-size: 15px;
    }

    #content_title {
        display: none;
    }

    #content_subject .description > p:nth-of-type(1) {
        margin-bottom: 0px;
    }

    #content_guide {
        margin-top: 0px;
    }

    #content_form.module_line>.description>p>span:nth-of-type(2) {
        gap: calc(10px * 2);
    }

    #content_form.module_line>.description>p>span span.divider {
        left: -10px;
    }

    #content_standard>.description>.text_wrapper>p:nth-of-type(2) {
        padding-left: 0px;
    }

    section.content__d .process {
        flex-direction: column;
        width: 310px;
        margin: 0 auto;
        margin-top: 40px;
    }

    section.content__d .process>.step.step_line {
        display: none;
    }

    section.content__d .process::before {
        height: 90%;
        width: 1px;
        top: 0;
        left: 53px;
    }

    section.content__d .content_wrapper .process>.step {
        flex-direction: row;
        width: 320px;
        align-items: center;
        font-size: 15px;
        margin-bottom: 24px;
    }

    section.content__d .process>.step>.date {
        width: 90px;
        height: 40px;
        flex-shrink: 0;
        margin: 0 10px;
    }

    section.content__d .process>.step>.date>span {
        margin-bottom: 8px;
    }

    section.content__d .process>.step>.text {
        margin-top: 0;
        margin-left: 14px;
        font-size: 15px;
    }

    .case_qna>.question {
        display: flex;
        flex-direction: column;
    }

    .case_qna>.question>span:nth-of-type(2) {
        margin-left: 0;
        font-size: 18px;
    }

    section.content__b {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 13px;
    }

    section.content__b .case {
        order: 1;
        width: 42vw;
        margin-top: 8px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 4px;
        border-width: 1px;
    }

    section.content__b .case>.hello {
        top: 0;
        width: 14vw;
        height: 30px;
        margin-right: 60vw;
        display: none;
    }

    section.content__b .case:hover>.hello, section.content__b .case.active>.hello {
        display: none;
    }

    section.content__b .case>.btn_case {
        font-size: 3.8vw;
    }

    section.content__b .case:hover>.btn_case, section.content__b .case.active>.btn_case {
        font-size: 3.8vw;
    }

    section.content__b .case.empty {
        display: block;
        visibility: hidden;
        pointer-events: none;
        cursor: none;
    }

    section.content__c {
        margin-top: 21px;
        padding-bottom: 50px;
    }

    .case_qna>.answer {
        margin-left: 0px;
        font-size: 13px;
    }
    section.gnb {
        display: none;
    }

    section.apply .btn__apply{
        display: none;
    }
    .wrapper_qna_case {
        margin-left: 0px;
    }

    section.content__d .process>.step>.date>span{
        font-size: 13px;
    }
    section.content__d .process>.step.no_shrink>.date {
        width: 90px;
        margin: 0 10px;
    }

    section.content__d .process .step:nth-of-type(5) .text {
        width: max-content;
    }

    section.content__d .process .step:nth-of-type(9) .text {
        width: max-content;
    }

    .content__c img {
        display: block;
        width: 210px;
        height: 132px;
        top: -100px;
    }

    .content__d .content_wrapper {
        margin-bottom: 0;
    }

    section.content__c.content__c__a {
        padding-bottom: 70px;
    }

    section.content__e div.content_wrapper:nth-of-type(1)>.title::before {
        width: 44px;
        height: 30px;
        right: -12px;
    }

    .content__c__a .module_line>.subtitle {
        width: unset;
        font-size: 13px;
        margin-bottom: 3px;
    }

    .content__c__a .module_line>.awards_notice_desc {
        margin-left: 10px;
    }
    
    .content__c__a .module_line>.description > p {
        font-size: 11px;
        line-height: 17px;
    }

    section.content__d .process>.step>.text {
        text-align: left;
        padding-bottom: 7px;
    }

    section.content__b .case:hover,
    section.content__b .case.active {
        border: 1px solid var(--purple);
        background-color: var(--purple);
    }

    section.apply>img{
        margin-top: 70px;
    }

    .module_line>.description>p {
        font-size: 13px;
        margin-left: 0px;
    }

    #content_notice .description > p:nth-last-of-type(1) {
        font-size: 13px;
        line-height: 22px;
        margin-top: 10px;
    }

    #content_form.module_line>.description>p>span>span{
        font-size: 12px;
    }

    .total_wrapper_popup>img {
        width: 310px;
    }

    .winner_page .text_desc {
        padding-top: 70px;
    }

    .winner_page section.list .wrapper_congrat {
        height: 100px;
    }

    .winner_page .wrapper_congrat>img {
        width: 250px;
    }
    .winner_page section.list .wrapper_congrat>p {
        width: 250px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .winner_page .module_list {
        font-size: 15px;
    }

    .winner_page .module_list>img {
        width: 200px;
    }

    .winner_page .module_list .set_prize>.rank {
        width: 50px;
    }
}