section.apply .btn__apply.btn_invalid_apply {
    background-color: #494949;
    color: #A5A5A5;
    border: 0px solid;
    pointer-events: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.6px;
}

.total_wrapper_popup+.total_wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    pointer-events: none;
}

.total_wrapper_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5,5,5,0.85);
    z-index: 100;
}

.total_wrapper_popup>.result_popup {
    position: relative;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total_wrapper_popup>.result_popup>img.popup_img {
    width: 100%;
    height: auto;
}

.total_wrapper_popup .result_popup_bubble {
    width: 90px;
    height: auto;
    position: absolute;
    top: 10px;
    right: -20px;
}

.total_wrapper_popup .btn_winner_chk {
    position: absolute;
    width: calc(100% - 32px);
    height: 50px;
    left: 50%;
    transform: translate(-50%, -30px);
    bottom: 0px;
    background: rgba(119, 32, 188, 0.5);
    border-radius: 10px;
    border: 0px solid;
    appearance: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.total_wrapper_popup .btn_winner_chk:hover {
    background: #7804D3;
}

/*수상자 안내 페이지*/
.winner_page section {
    width:unset;
}

.winner_page .text_desc {
    padding-top: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.8;
}

.winner_page .text_desc[type="tablet_mobile"] {
    display: none;
}

.winner_page section.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.winner_page section.list .wrapper_congrat {
    position: relative;
}

.winner_page .wrapper_congrat>img {
    width: 522px;
    height: auto;
}

.winner_page section.list .wrapper_congrat>p{
    position: absolute;
    top: 20px;
    left: 37px;
    font-size: 35px;
}

.winner_page .module_list>.wrapper_text_list {
    width: 910px;
}

.winner_page .module_list .prize_block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.winner_page .module_list.module_list_upper>.wrapper_text_list {
    text-align: center;
}

.winner_page .module_list>img {
    width: 320px;
    height: auto;
}

.winner_page .module_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    padding: 0 20px;
}

.winner_page .wrapper_prize_list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 32px;
}

.winner_page .module_list .set_prize {
    width: 232px;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}

.winner_page .module_list .set_prize_list {
    width: 630px;
    display: flex;
    align-items: baseline;
    margin-right: auto;
    margin-left: auto;
}

.winner_page .module_list.module_list_upper .set_prize {
    font-size: 22px;
    max-width: 238px;
    justify-content: center;
    margin-bottom: 15px;
}

.winner_page .module_list .set_prize>.winner,
.winner_page .module_list .set_prize>.title {
    font-weight: bold;
    flex-shrink: 0;
}

.winner_page .module_list .title {
    font-family: 'Noto Sans CJK KR Regular';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.9;
    width: 330px;
}

.winner_page .module_list.module_list_upper .title {
    width: 410px;
    margin-right: auto;
    margin-left: auto;
}

.winner_page .module_list .set_prize>.space {
    display: inline-block;
    /* width: 38px; */
    flex: 1;
    height: 1px;
    background-color: #575757;
    margin: 0 8px;
    flex-shrink: 10;
}

.winner_page .module_list .set_prize>.rank {
    display: inline-block;
    text-align: right;
}

.winner_page .module_list .set_prize.last>.rank,
.winner_page .module_list .set_prize.last>.space {
    opacity: 0;
}

.winner_page .footer>img{
    width: 96px;
    margin-top: 164px;
    margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
    .total_wrapper_popup .result_popup {
        width: 252px;
    }

    .total_wrapper_popup .result_popup_bubble {
        width: 62px;
        top: 8px;
        right: -15px;
    }

    .total_wrapper_popup .btn_winner_chk {
        height: 36px;
        font-size: 16px;
        line-height: 23px;
    }

    .winner_page .text_desc {
        padding-top: 70px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.7;
    }

    .winner_page section.list .wrapper_congrat {
        height: 100px;
    }

    .winner_page .wrapper_congrat>img {
        width: 340px;
    }

    .winner_page .wrapper_prize_list {
        gap: 38px;
    }

    .winner_page .module_list.module_list_upper .set_prize {
        margin-bottom: 0px;
    }

    .winner_page .module_list {
        font-size: 15px;
    }

    .winner_page .module_list>img {
        width: 184px;
    }

    .winner_page .module_list .set_prize>.space,.winner_page .module_list .title {
        display: none;
    }

    .winner_page .module_list .prize_block {
        gap: 5px;
    }

    .winner_page .module_list .set_prize {
        width: 150px;
        gap: 13px;
        line-height: 21px;
    }

    .winner_page .winner,.winner_page .rank {
        font-size: 14px;
    }

    .winner_page .rank {
        color: #979797;
        margin-left: auto;
    }
    .winner_page .footer>img {
        margin-top: 84px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 830px) {
    .winner_page .text_desc[type="desktop"] {
        display: none;
    }

    .winner_page .text_desc[type="tablet_mobile"] {
        display: block;
    }

    .winner_page .text_desc[type="tablet_mobile"] > p:nth-of-type(2){
        display: block;
        margin-top: 30px;
    }
}