section.apply .btn__apply.btn_invalid_apply {
    background-color: #494949;
    color: #A5A5A5;
    border: 0px solid;
    pointer-events: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.6px;
}